:root {
  --button-color: #91ac27;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 0.825rem;
  text-transform: uppercase;
  width: 100%;
  margin: 50px 0 10px 0;
}

body {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  background-color: white;
  margin: 50px 10%;
  max-width: 2048px;
  padding: 60px 40px;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header a {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: start;
}

.wrapper .header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .header .links a {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: center;
}

.wrapper .header .links .link__1 {
  margin: .4em 0;
}

.wrapper .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.wrapper .button {
  background-color: var(--button-color);
  border: none;
  padding: 6px 12px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.wrapper .button:hover {
  background-color: #0b570b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .link {
  color: black;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .link:hover {
  color: var(--button-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper nav > a {
  border-bottom: 2px solid transparent;
  padding: 15px 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper nav > a:hover {
  border-bottom: 2px solid #91ac27;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.wrapper .products article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .products article .button--wide {
  width: 100%;
}

.wrapper .products article .my-15 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.wrapper .products article h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.wrapper .img-wrapper {
  background-image: url(/img/empty-bg.jpg);
}

.wrapper .img-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 100px 25%;
}

.wrapper .img-wrapper form p {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper .img-wrapper form p span {
  text-transform: uppercase;
}

.wrapper .img-wrapper form input[type="email"] {
  padding: 4px;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper footer section article {
  width: 30%;
}

.wrapper footer .links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */