#menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuToggle > ul > li > a {
  margin: 0 10px;
  color: black;
  padding: 15px 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menuToggle > ul > li > a:hover {
  margin: 0 10px;
  border-bottom: 2px solid #91ac27;
  text-decoration: none;
  color: #91ac27;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menuToggle input {
  display: none;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------hamburger---------*/
@media only screen and (max-width: 425px) {
  #menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    padding: 10px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
    Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  /* Make this absolute positioned
   at the top left of the screen
   */
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 320px;
    padding: 50px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 320px) {
  #menu {
    top: 390px;
  }
}

:root {
  --button-color: #91ac27;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 0.825rem;
  text-transform: uppercase;
  width: 100%;
  margin: 50px 0 10px 0;
}

body {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  background-color: white;
  margin: 50px 10%;
  max-width: 2048px;
  padding: 60px 40px;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header a {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: start;
}

.wrapper .header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .header .links a {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: center;
}

.wrapper .header .links .link__1 {
  margin: .4em 0;
}

.wrapper .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.wrapper .button {
  background-color: var(--button-color);
  border: none;
  padding: 6px 12px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.wrapper .button:hover {
  background-color: #0b570b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .link {
  color: black;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .link:hover {
  color: var(--button-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper nav > a {
  border-bottom: 2px solid transparent;
  padding: 15px 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper nav > a:hover {
  border-bottom: 2px solid #91ac27;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.wrapper .products article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .products article .button--wide {
  width: 100%;
}

.wrapper .products article .my-15 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.wrapper .products article h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.wrapper .img-wrapper {
  background-image: url(/img/empty-bg.jpg);
}

.wrapper .img-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 100px 25%;
}

.wrapper .img-wrapper form p {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper .img-wrapper form p span {
  text-transform: uppercase;
}

.wrapper .img-wrapper form input[type="email"] {
  padding: 4px;
}

.wrapper hr {
  margin: 50px 0;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.wrapper footer section article {
  min-width: 100px;
  max-width: 200px;
}

.wrapper footer section article h3 {
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  margin: 8px 0;
}

.wrapper footer section article h3 i {
  font-size: 1.5rem;
}

.wrapper footer .links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    width: 100%;
  }
  body .wrapper {
    margin: 0;
    padding: 5%;
  }
  body .wrapper header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  body .wrapper header a {
    margin-bottom: 20px;
  }
  body .wrapper header nav {
    display: none;
  }
  body .wrapper header .links {
    width: 100%;
    text-align: center;
  }
  body .wrapper header .links a {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

/*menu*/
/*# sourceMappingURL=style.css.map */