:root {
   --button-color: #91ac27;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 500;
	font-size: 0.825rem;
	text-transform: uppercase;
	width: 100%;
	margin: 50px 0 10px 0;
}

body {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	background-color: white;
	margin: 50px 10%;
	max-width: 2048px;
	padding: 60px 40px;

	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		a {
			flex-grow: 4;
			text-align: start;
		}

		.links {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			a {
				flex-grow: 4;
				text-align: center;
			}

			.link__1 {
				margin: .4em 0;
			}
		}

		nav {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 40px;
		}
	}


.button {
	background-color: var(--button-color);
    border: none;
    padding: 6px 12px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;

   &:hover {
	background-color: rgb(11, 87, 11); 
	transition: all 0.5s;
   }
}

.link{
	color: black;
	margin-left: 12px;
	margin-right: 12px;
	transition: all 0.5s;

      &:hover{
	color: var(--button-color);
	transition: all 0.5s;
   }
}

nav > a{
	border-bottom: 2px solid transparent;
	padding: 15px 5px;
	transition: all 0.5s;

   &:hover {
	border-bottom: 2px solid #91ac27;    
   transition: all 0.5s;
      }
   }


.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-bottom: 25px;

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.button--wide{
			width: 100%;
		}

		.my-15 {
		margin: 15px 0;
		font-weight: 700;
		font-size: 1.3rem;
		}

		h3 {
			font-size: 1.75rem;
			font-weight: 500;
		}
	}
}

.img-wrapper {
	background-image: url(/img/empty-bg.jpg);

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 100px 25%;

		p {
			color: white;
			font-weight: 600;
			font-size: 1.5rem;

			span {
				text-transform: uppercase;
			}
		}

		input[type="email"] {
			padding: 4px;
			}
		}
	}

		footer {
		display: flex;
		flex-direction: column;

		section {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			article {
				width: 30%;
			}
		}

		.links-section {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

